{
	"boxAppSettings": {
		"clientID": "",
		"clientSecret": "",
		"appAuth": {
			"publicKeyID": "",
			"privateKey": "",
			"passphrase": ""
		}
	},
	"enterpriseID": "",
	"oktaSettings": {
	"oktaOrg": "yourOrg.okta.com",
		"apiKey": "",
		"clientID": "",
		"clientSecret": "",
		"logo": "",
		"redirectUri"
	}
}